@media (max-width: 1130px) {
  .product-grid {
    width: 370px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
  }

  .product-card:nth-child(3),
  .product-card:nth-child(4) {
    display: none;
  }
}