body{
    margin: 0;
    padding: 0;
}
.Heading{
    display: flex;   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000; /* Ensures the heading is always on top */
}
.heading-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    height: 70px;
    margin: 0 auto;
}
.home-button img{
    width: 250px;
    height: auto;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 40px;
    border-radius: 10px;
}
.search-bar input{
    box-sizing: border-box;
    width: 535px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
}
.search-bar button{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.search-bar button img{
    height: 40px;
    width: 40px;
}
.h-icons{
    display: flex;
    align-items: center;
    gap: 22px;
}
.h-icons img{
    width: 40px;           
    height: 40px;
    object-fit: contain;    
    cursor: pointer;
}
.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    top: 70px;
    position: fixed;
    z-index: 999; /* Ensures the navbar is always on top */
}
.navbar-inner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1120px;
    height: 30px;
    margin: 0 auto;
}
.AGS{                        /* Australia gaming store */
    display : flex;
    align-items: center;
    margin-left: auto;
}
.btn-group{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 600px;
    gap: 50px; 
}
.btnc{                      /* Button for nav bar categories */
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    height: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}
.search-bar2, .burger-button{
    display: none;
}
.banner{
    margin: 125px auto 0;
    width: 1120px;
    display: flex;
    justify-content: space-between;
}
.banner-main{
    width: 660px;
    height: 372px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 15px;
    position: relative;
    overflow: hidden;
}
.mbanner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.banner-text{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 500px;
}
.banner-text h2{
    margin: 0;
}
.banner-text p{
    margin-top: 20px;
}
.right-banners{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 372px;
    width: 430px;
}
.right-banner1, .right-banner2{
    width: 430px;
    height: 170px;
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 15px;
    border: 1px solid rgb(133, 56, 54);
    position: relative;
    overflow: hidden;
}
.abanner1-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.abanner2-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.banner-text2{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 240px;
    color: rgb(255, 255, 255);
}
.banner-text2 h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.banner-text2 p{
    font-size: 16px;
    margin-top: 20px;
}
.category-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
}
.btns{
    width: 200px;
    height: 80px;
    border-radius:  15px;
    border: 1px solid rgb(133, 56, 54);
    background-color: rgb(133, 56, 54);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    font-weight:600;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: flex;                  
    align-items: center;           
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 0px;
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.section-title{
    box-sizing: border-box;
    width: 1120px;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 30px;
    background-color: rgb(86, 54, 46);
    color: white;
    font-weight: 600; 
    font-size: 24px;
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 265px); /* 4 columns of 265px each */
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    margin: 25px auto 0;
}
.product-card{
    width: 265px; 
    height: 375px;
    border-radius: 15px;
    background-color: rgb(253, 240, 220);
    border: 1px solid rgb(133, 56, 54);
    padding-bottom: 10px;
    display: flex;              
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    margin: 0px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3);
}
.product-img {
    display: block;
    width: 100%;
    height: 265px;
    background-color: black;
    object-fit: cover;
    object-position: top;
    border-bottom: 1px solid rgb(133, 56, 54);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
}  
.product-title{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    overflow: hidden;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.stock{
    font-size: 13px;
    color: rgb(0, 168, 39);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.pre-order{
    font-size: 13px;
    color: rgb(254, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.bottom-section{
    display: flex;
    justify-content: space-between;
    height: 25px;
    align-items: center;
    margin-top: auto;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(253, 240, 220);
}
.price{
    font-size: 20px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}
.card-icons{
    display: flex;
    align-items: center;
    height: 25px;
    gap: 10px;
}
.card-icons img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    cursor: pointer;
}
.btnv {
    display: block;
    margin: 30px auto 0;
    width: 550px;
    height: 40px;
    background-color: rgb(133, 56, 54);        
    color: white;                
    font-size: 16px;              
    border: none;                 
    border-radius: 15px;           
    cursor: pointer;             
    text-align: center;      
    text-decoration: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.visit-us{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    width: 1120px;
    height: 165px;
    background-color: rgb(253, 240, 220);
    color: rgb(22, 36, 68);
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius:  15px;
    padding: 25px;
    margin: 40px auto 0;
}
.visit-us h2{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.located{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0;
}
.pickup-times{
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 0;
    text-align: right; 
}
.feedbacks-grid{
    display: grid;
    grid-template-columns: repeat(3, 355px); /* 3 columns of 355px each */
    gap: 25px;
    align-items: center;
    height: 105px;
    width: 1120px;
    margin: 25px auto 0;
}
.feedback-card{
    box-sizing: border-box;
    height: 105px;
    width: 355px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.platform-logo{
    width: 80px;
    height: 80px;
}
.feedback-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 80px;
}
.Platform{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}
.star-rating{
    width: auto;
    height: 20px;
}
.Review-stars{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(22, 36, 68);
}
.why-us{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 1120px;
    height: 290px;
    padding: 20px;
    background-color: rgb(253, 240, 220);
    color: rgb(22, 36, 68);
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius:  15px;
    margin:25px auto 40px;
}
.why-us h2,h3,ul{
    margin: 0;
}
.why-us h3{
    text-align: center;
}
.footerup{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgb(86, 54, 46);
    margin: 50px auto 0;
}
.footerup-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1120px;
    height: 70px;
    background-color: rgb(86, 54, 46);
    color: white;
    margin: 0 auto;
}
.footerup-inner h2{
    font-size: 20px;
    font-weight: 600;
}
.footerup-inner p{
    font-size: 14px;
    font-weight: 500;
}

.email-subscription{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(253, 240, 220);
    color: rgb(0, 0, 0);
}
.email-subscription input{
    box-sizing: border-box;
    width: 320px;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    padding-left: 10px;
    background-color: rgb(253, 240, 220);
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.email-subscription button{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgb(133, 56, 54);
    background-color: rgb(133, 56, 54);
    color: white;
    cursor: pointer;
}
.footerdown{
    display: flex;
    align-items: center;
    width: 100%;
    height: 220px;
    background-color: rgb(75, 75, 75);
}
.footerdown-inner{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1120px;
    height: 220px;
    background-color: rgb(75, 75, 75);
    color: white;
    margin: 0 auto;
    padding: 15px 0;
}
.FAQ{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    border-left: 2px solid rgb(255, 255, 255);
}
.FAQ h2{
    font-size: 20px;
    margin: 0 10px 5px;
    font-weight: 600;
}
.FAQ p{
    font-size: 16px;
    margin: 6px 10px 0;
    font-weight: 500;
}
.FAQ img{
    margin: 6px 10px 0;
    width: 200px;
}



/* Below are the css for search result page */
.status{
    margin: 100px auto 0;
    width: 1120px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(133, 56, 54);
}
.status h2{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: rgb(133, 56, 54);
}
.summary{
    box-sizing: border-box;
    width: 1120px;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 30px;
    background-color: rgb(86, 54, 46);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 25px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}
.summary h2{
    font-size: 24px;
    font-weight: 600;
    color: rgb(253, 233, 201);
    margin: 0;
}
.summary h3{
    font-size: 20px;
    font-weight: 500;
    color: rgb(253, 233, 201);
    margin: 0;
}
.Classification-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    margin: 25px auto 0;
    padding: 0;
}
.btn-classification{
    display: flex;                  
    align-items: center;            
    justify-content: center;         
    gap: 10px;                   /* Space between icon and text */
    height: 40px;
    width: 265px;
    border-radius: 15px;
    border: none;
    background-color: rgb(133, 56, 54);
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.btn-classification span{
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-weight: 500;
}
.btn-classification img{
    width: 25px;
    height: 25px;
}
.product-grid2 {
    display: grid;
    grid-template-columns: repeat(4, 265px); /* 4 columns of 265px each */
    grid-template-rows: repeat(4, 375);
    gap: 20px; /* Space between items */
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    margin: 25px auto 0;
}
.pagebar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 40px;
    border-radius: 15px;
    margin: 25px auto 0;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(133, 56, 54);
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.pagebtn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(133, 56, 54);
    border: none;
    cursor: pointer;
}
.pagebtn img{
    width: 25px;
    height: 25px;
}   
.pagebar span{
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;
}
.pagebar p{
    font-size: 24px;
    font-weight: 500;
}

/* Below is for cart page */
.section-title2{
    box-sizing: border-box;
    width: 1120px;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 30px;
    background-color: rgb(86, 54, 46);
    color: rgb(255, 255, 255);
    font-weight: 600; 
    font-size: 24px;
    margin: 25px auto 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.cart-detailbox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    height: 700px;
    width: 1120px;
    margin: 25px auto 0;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.cart-details{
    width: 1070px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
}
.cart-details th, .cart-details td {
    padding: 20px;
    text-align: left;
    border-bottom: 2px solid rgb(133, 56, 54);
}
.cart-details th{
    height: 40px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(133, 56, 54);
}
.cart-details td{
    height: 130px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}

.unchecked{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.checked{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.product-bought{
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.product-bought img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.quantity{
    height: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 0;  
}
.quantity-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    border: none;
    background-color: rgb(253, 240, 220);
}
.quantity-button img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.cart-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 620px;
    height: 40px;
    margin: 0 0 0 auto;
}
.action-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    border-radius: 15px;
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(133, 56, 54);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.price-total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 40px;
    margin: 20px 0 0 auto;
    border-bottom: 2px solid rgb(133, 56, 54);
}

.price-label{
    font-size: 24px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}

.price-number{
    font-size: 24px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}
.checkout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 40px;
    background-color: rgb(133, 56, 54);
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 15px;
    margin: 0px 0 0 auto;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Below is for confirmation page */
.confirmation{
    box-sizing: border-box;
    margin: 125px auto 0;
    width: 1120px;
    height: 750px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid rgb(133, 56, 54);
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.confirmation-icon{
    width: 100px;
    height: 100px;
    margin: 0;
}
.confirmation h2{
    font-size: 24px;
    font-weight: 700;
    color: rgb(22, 36, 68);
    margin: 10px auto 0;
}
.confirmation-message{
    font-size: 20px;
    font-weight: 600;
    color: rgb(22, 36, 68);
    margin: 10px auto 0;
    text-align: center;
}
.product-bought2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 1120px;
    height: 125px;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0;
}
.img-boxc{
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.img-boxc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.confirmation-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 500px;
    margin: 40px auto 0;
}
.Order-detail{
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 165px;
    border-left: 2px solid rgb(133, 56, 54);
    padding-left: 10px;
}
.Order-detail h3{
    font-size: 20px;
    font-weight: 600;
    color: rgb(22, 36, 68);
    margin: 0;
}
.Order-detail p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(22, 36, 68);
    margin: 10px auto 0;
}
.label{
    font-weight: 600;
}
.btni{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
    background-color: rgb(133, 56, 54);
    color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 15px;
    margin: 40px auto 0;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Below is for product page */
.productd-grid{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns of equal width */
    gap: 30px;
    width: 1120px;
    margin: 25px auto 0;
}
.image-pics{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    width: 545px;
    height: auto;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(253, 240, 220);
}
.cover-image{
    height: 500px;
    width: auto;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.other-pics{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 500px;
    width: 80px;
}
.op-box{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.other-pic-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.aside-info{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 20px;
    width: 545px;
    margin: 0;
}
.box-up{
    box-sizing: border-box;
    padding: 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(253, 240, 220);
    color: rgb(22, 36, 68);
}
.p-name{
    height: 30px;
    width: 400px;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    border-bottom: 2px solid rgb(133, 56, 54);
}
.tags{
    height: 25px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.tag-box{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgb(22, 36, 68);
    color: rgb(255, 255, 255);
    margin: 0;
}
.tag-box span{
    font-size: 14px;
    font-weight: 500;
}
.l-label{
    width: 400px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: rgb(22, 36, 68);
    margin:0;
    padding: 0;
}
.l-price{
    width: 400px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    color: rgb(22, 36, 68);
    margin: 0;
    padding: 0;
}
.l-label2{
    width: 400px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: rgb(22, 36, 68);
    margin:0;
    padding: 10px 0 0;
}
.quantity-selector{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 400px;
    margin:0;
}
.quantity-button{
    height: 25px;
    width: 25px;
}
.quantity-display{
    height: 25px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(133, 56, 54);
}
.quantity-display p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}
/*below is button*/
.add-to{
    height: 40px;
    width: 545px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(133, 56, 54);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.add-to span{
    font-family: 'Source Serif 4', serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.A-T{
    height: 30px;
    width: 30px;
}
.aside-info h2{
    box-sizing: border-box;
    width: 545px;
    height: 50px;
    border-top-left-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 30px;
    background-color: rgb(86, 54, 46);
    color: white;
    font-weight: 600; 
    font-size: 24px;
    margin: 5px auto 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.reasons-grid{
    display: grid;
    grid-template-columns: repeat(2, 265px); /* 2 columns of equal width */
    gap: 10px; /* Space between items */
    justify-content: center;
    align-items: center;
    width: 545px;
    margin: 0;
}
.reason-box{
    box-sizing: border-box;
    padding: 10px 0px 10px 25px;
    height: 40px;
    width: 265px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(253, 240, 220);
}
.reason-box img{
    width: 30px;
    height: 30px;
}
.reason-box p{
    font-size: 16px;
    font-weight: 600;
    color: rgb(22, 36, 68);
}
/* Below is for section 2: Shipping */
.shipping-info-box {
    box-sizing: border-box;
    padding-left: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1120px;
    height: 90px;
    margin: 25px auto 0;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    color: rgb(22, 36, 68);
}
.shipping-info{
    font-size: 16px;
    font-weight: 600;
}
.description-info-box{
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 1120px;
    height: auto;
    margin: 25px auto 0;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.description-info{
    margin: 0;
}
.review-box{
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;
    width: 1120px;
    height: 150px;
    margin: 25px auto 0;
    border-radius: 15px;
    border: 2px solid rgb(133, 56, 54);
    background-color: rgb(253, 240, 220);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}
.review-input{
    color: rgb(75, 75, 75);
    line-height: 1;
    margin: 0;
}
.review-button{
    margin-left: auto;
    height: 30px;
    width: 170px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(133, 56, 54);
    color: white;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Source Serif 4', serif;
    font-size: 14px;
    font-weight: 600;
}
